@{
    ViewData["Title"] = "Fire Detection";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 20px;
            background-color: #f8f9fa;
        }

        .container {
            max-width: 100%;
        }

        .card {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }

        .row {
            display: flex;
        }

        .col-md-4 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .col-md-8 {
            flex: 0 0 75%;
            max-width: 75%;
            height: 100vh;
            padding-left: 15px;
        }

        #map {
            height: 87%;
            width: 100%;
        }

        .image-frame {
            width: 256px;
            height: 256px;
            border: 2px solid #ddd;
            margin: 10px auto;
            padding: 5px;
            text-align: center;
            background-color: #fff;
            overflow: hidden;
        }

            .image-frame img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image-frame img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    @*  <form asp-controller="Home" asp-action="Predict" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                    <label for="image">Select image:</label>
                    <input type="file" class="form-control-file" name="image" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                    <h1>Automatic version</h1>
                    </form> *@

                    @if (ViewBag.Prediction != null)
                    {
                        <div class="prediction-result alert alert-info text-center">
                            <h3>Tahmin: @ViewBag.Prediction</h3>
                        </div>
                        <div class="image-frame">
                            <img src="@ViewBag.ImagePath" alt="Predicted Image">
                        </div>
                    }

                    @if (ViewBag.Latitude != null && ViewBag.Longitude != null)
                    {
                        <div class="location-result alert alert-info text-center">
                            <h4>Konum Bilgileri</h4>
                            <p>Enlem: @ViewBag.Latitude</p>
                            <p>Boylam: @ViewBag.Longitude</p>
                        </div>
                    }
                </div>

                @if (ViewBag.Prediction2 != null)
                {
                    <div class="prediction-result alert alert-info text-center">
                        <h3>Tahmin: @ViewBag.Prediction2</h3>
                    </div>

                    @if (ViewBag.ImageUrl != null)
                    {
                        <div class="image-frame">
                            <img src="@ViewBag.ImageUrl" alt="Predicted Image">
                        </div>
                    }

                    @if (ViewBag.Latitude2 != null && ViewBag.Longitude2 != null)
                    {
                        <div class="location-result alert alert-info text-center">
                            <h4>Konum Bilgileri</h4>
                            <p>Enlem: @ViewBag.Latitude2</p>
                            <p>Boylam: @ViewBag.Longitude2</p>
                        </div>
                    }
                }
            </div>
            <div class="col-md-8">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcj44JI7A5KZPrdG9C9BRYJ5BxX4r034c&callback=initMap" async defer></script>
    <script>
        let map;
        let marker;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 39.9334, lng: 32.8597 },
                zoom: 6,
                mapTypeId: 'satellite',
            });

        @if (ViewBag.Latitude != null && ViewBag.Longitude != null)
        {
            <text>
                            var latitude = parseFloat("@ViewBag.Latitude".replace(",", "."));
                var longitude = parseFloat("@ViewBag.Longitude".replace(",", "."));
                addMarker(latitude, longitude);
            </text>
        }

        @if (ViewBag.Latitude2 != null && ViewBag.Longitude2 != null)
        {
            <text>
                            var latitude = parseFloat("@ViewBag.Latitude2".replace(",", "."));
                var longitude = parseFloat("@ViewBag.Longitude2".replace(",", "."));
                addMarker(latitude, longitude);
            </text>
        }
                }

        function addMarker(lat, lng) {
            if (marker) {
                marker.setMap(null);
            }
            marker = new google.maps.Marker({
                position: { lat: lat, lng: lng },
                map: map,
                title: 'Fire detected'
            });

            const geocoder = new google.maps.Geocoder();
            geocoder.geocode({ location: { lat: lat, lng: lng } }, (results, status) => {
                if (status === 'OK') {
                    if (results[0]) {
                        const locationDetails = results[0].formatted_address;
                        document.querySelector('.location-result').innerHTML = `<h4>Konum Detayları</h4><p>${locationDetails}</p>`;
                    } else {
                        console.error('No results found');
                    }
                } else {
                    console.error('Geocoder failed due to: ' + status);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#uploadForm').submit(function (event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: '@Url.Action("Predict", "Home")',
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (data) {
                        $('#predictionResult').html(data);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });

            // Sayfayı her 15 saniyede bir yenile
            setInterval(function () {
                location.reload();
            }, 7000); // 15000 milisaniye = 15 saniye
        });
    </script>

</body>
</html>
